body{
    background-color: #fbfff1;
}

.cabecalho{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3px;
    background-color: #03132F;
    justify-content: space-between;
    padding-bottom: 15px;
}

.cabecalho div{
margin-left: 50px;
margin-top: 10px;;
}

.cabecalho div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
}

.cabecalho div a:hover{
color: #6e0d25;
}

.cabecalho nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 100px;
    font-size: 20px;
 }

.cabecalho nav ul a {
text-decoration: none;
color: azure;
padding-top: 40px
}

.cabecalho nav ul a:hover {
color :#6e0d25;
}

.image{
    border-radius: 100%;
    float:right;
    padding-top: 50px;
    padding-right: 50px ;
}

.bem-vindo{
    font-size: 50px;
    text-align: center;
 margin-top: 50px;
 margin-bottom: 15px;
}

